body {
    position:relative;
    width:100%;
    height:100vh;
    margin:0;
    background-image: linear-gradient(to bottom, #3b41c5 0%, #a981bb 74%, #ffc8a9 100%);
} 

#foreground, #orbitPath, #satelliteSpace{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
}

#foreground{
    z-index: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#satelliteSpace{
    z-index:1;
}

#orbitPath{
    z-index:0;
}

#text{
    width:300px;
    max-height:300px;
    text-align: center;
    font-family: 'Lora', serif;
    color:whitesmoke;
    padding: 10px 0px 10px 0px;
}

#quote::first-letter{
    font-size:2rem;
    line-height: 0.6;
    margin-right:0;
}

#refresh, #twitter{
    cursor:pointer;
}